@import "../../assets/styles/animation",
  "../../assets/styles/mixin/display-mixin", "../../assets/styles/variable",
  "../../assets/styles/mixin/media-queries";

.mobile-bag-nav {
  @include Appeared();
  position: absolute;
  border: 2px solid black;
  top: 46px;
  left: 0px;
  background-color: white;
  z-index: 998;
  @include flex-container(column, center, center);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  @include desktop() {
    top: 64px;
    left: 1050px;
  }
}
.mobile-bag-nav > * {
  width: 380px;
}
.empty-bag-container {
  position: absolute;
  background-color: white;
  @include flex-container(column, center, center);
  text-align: center;
  padding: 0px;
  gap: 20px;
  width: 145px;
  height: 178px;
  .bag-icon {
    width: 49px;
  }
}

