@import "../../assets/styles/animation",
  "../../assets/styles/mixin/display-mixin",
  "../../assets/styles/variable",
  "../../assets/styles/mixin/media-queries";

.user-nav-container {
    @include Appeared();
    position: absolute;
    top: 46px;
    left: 0px;
    background-color: white;
    z-index: 998;
    @include flex-container(column, center, center);
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    @include desktop() {
      top: 64px;
      left: 1050px;
    }
  }