@import "../../assets/styles/variable",
  "../../assets/styles/mixin/display-mixin",
  "../../assets/styles/mixin/media-queries";

.checkout-page-container {
  padding-left: 18px;
  .checkout-mobile-navbar-container {
    position: fixed;
    width: 100%;
    height: 46px;
    @include flex-container(row, flex-start, center, 40%);
    background-color: $secondary-gray;
    box-shadow: $box-shadow-setting;
    padding-left: 20px;
    .close-mobile-logo {
      .logo {
        width: 32.93px;
        height: 32px;
      }
    }
    .close-checkout-nav {
      .logo {
        width: 24px;
        height: 24px;
      }
    }
  }
  .checkout-title {
    margin-top: 82px;
    margin-bottom: 40px;
    text-align: center;
    h2 {
      font-size: 14px;
      line-height: 24px;
    }
  }
  .checkout-form-container {
    // padding-left: 18px;
  }
  .order-details-container {
    @include flex-container(column, flex-start, "", 20px);
  }
  .order-total-container {
    margin-top: 40px;
    margin-bottom: 20px;
    p {
      text-align: center;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
    }
  }
  .submit-button-container {
    margin-bottom: 40px;
  }
}
