@import "../../assets/styles/variable";

.popular-container {
  //   margin-top: 48px;
  margin: 48px 0px 16px 0px;
  padding: 0px 20px 0px 20px;
}

.dish-container {
  margin-bottom: 46px;
}
.link-to-restaurants {
  margin-top: 16px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  gap: 16px;
  .arrow-icon {
    width: 24px;
    height: 24px;
  }
}
.signature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  margin-bottom: 48px;
  height: 584px;
  background-color: $secondary-gray;
  .signature-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    // height: 35px;
    // width: 136px;
    .Spicy-icon {
      height: 34px;
      width: 46px;
    }
    .Vegetarian-icon {
      height: 56px;
      width: 55px;
    }
    .Vegan-icon {
      height: 56px;
      width: 56px;
    }
  }
}

.chef-container {
  h2 {
    padding-left: 24px;
    margin-bottom: 50px;
  }
  .chef-header {
    .chef-image {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 338px;
      img {
        width: 360px;
      }
    }
    .chef-name {
      background-color: $secondary-gray;
      display: flex;
      justify-content: center;
      padding: 10px;
      width: 360px;
      z-index: 20;
      position: relative;
      bottom: 50px;
      background: rgba(255, 255, 255, 0.8);
    }
  }

  .chef-description {
    padding: 24px;
    text-align: justify;
    line-height: 28px;
    height: 252px;
    letter-spacing: 1.25px;
  }
}
