@import "../../../assets/styles/animation",
  "../../../assets/styles/mixin/display-mixin",
  "../../../assets/styles/variable",
  "../../../assets/styles/mixin/media-queries";

  .login-container{
    position: relative;
    @include flex-container(column, start, center);
    background-color: white;
  
    @include desktop() {
      width: 497px;
      height: 778px;
    }
  }
