@import "../../../assets/styles/mixin/display-mixin",
  "../../../assets/styles/mixin/typography-mixin",
  "../../../assets/styles/variable",
  "../../../assets/styles/mixin/media-queries";

.desktop-navbar-container {
  margin: 14px 127px 14px 127px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    .navbar-logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      .logo {
        width: 32.93px;
        height: 32px;
      }
    }
  }
  .right-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    .logo {
      width: 24px;
      height: 24px;
    }
  }
}
