/* colors */
$primary-light: #979797;
$primary-dark: #000000;
$secondary-beige: #f9f4ea;
$secondary-yellow: #f5be00;
$secondary-gray: #fafafa;
$tablet-width: 768px;
$desktop-width: 1024px;
$big-screen: 1366px;
