@import "../../assets/styles/mixin/media-queries",
  "../../assets/styles/variable";
footer {
  //   width: 377px;
  //   height: 202px;
  padding-left: 20px;
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 146px;
    margin-top: 32px;
    padding-bottom: 32px;
    @include desktop() {
      flex-direction: row;
      height: 84px;
      border-top: 0.2px solid $primary-light;
      padding: 0px;
      margin: 0px;
      margin-bottom: 20px;
      align-items: center;
      justify-content: center;
    }
    a {
      width: 150px;
      text-decoration: none;
      p {
        font-size: 18px;
      }
    }
  }
}
